<template>
  <div>
    <inplace-header>{{ $t("title") }}
    <div>
      <div class="buttons">
        <function-button style="margin-right: 8px;" @click='saveLayout'>{{ $t('saveLayout') }}</function-button>
        <function-button style="margin-right: 8px;" @click='resetLayoutAndStorage'>{{ $t('resetLayout') }}</function-button>
        <function-button style="margin-right: 8px;" @click='openSimpleDialog'>{{ $t('playlist') }}</function-button>
        <function-button @click='changeLanguage()'>{{ $t("changeLanguage") }}</function-button>
      </div>
      <simple-Dialog ref="simpleDialog" closeLabel="Close">
        <div slot="header">
          {{ $t('playlist') }}
        </div>
        <div slot="body">
          <ol>
            <li :key="`${item}-${index}`" v-for="(item,index) in playlist">
              {{item}}
            </li>
          </ol>
          <div v-if="playlist.length > 0" style="display: flex;">
            <function-button style="margin-right: 8px;" @click='reset'>{{ $t('reset') }}</function-button>
            <function-button @click='savePlaylist'>{{ $t('save') }}</function-button>
          </div>
        </div>
      </simple-Dialog>
    </div>
    </inplace-header>

    <grid-layout
      :layout.sync="layout"
      :col-num="24"
      :row-height="30"
      :is-draggable="true"
      :is-resizable="true"
      :is-mirrored="false"
      :vertical-compact="true"
      :margin="[10, 10]"
      :use-css-transforms="true"
      :responsive="responsive">
      
      <grid-item :key="`grid-${index}`" v-for="(item,index) in layout"
        :x="item.x"
        :y="item.y"
        :w="item.w"
        :h="item.h"
        :i="item.i"
        :static="item.static"
        @resized="resizedEvent"
        @moved="movedEvent">
        <PlayJingle class="wholeHeight" :item='item' :items='layout' @audio-playing="audioPlaying"/>
      </grid-item>
    </grid-layout>
  </div>
</template>

<script>
import FunctionButton from '@abas/elements/src/components/FunctionButton.vue';
import InplaceHeader from '@abas/elements/src/components/InplaceHeader.vue';
import SimpleDialog from '@abas/elements/src/components/SimpleDialog.vue';
import { mapState, mapGetters, mapMutations } from 'vuex';
import VueGridLayout from 'vue-grid-layout';
import PlayJingle from './PlayJingle';
import _ from 'lodash';


export default {
  name: 'JingleGrid',
  components: {
    InplaceHeader,
    FunctionButton,
    PlayJingle,
    SimpleDialog,
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem
  },
  computed: {
    ...mapGetters([
      'lastJingle'
    ]),
    ...mapState([
      'playlist',
      'layout'
    ])
  },
  props: {
  },
  data: function () {
    return {
      responsive: false
    }
  },
  created(){
    let playlist = JSON.parse(localStorage.getItem('playlist')) || [];
    playlist.forEach(jingle => {
      this.addJingleToPlaylist(jingle);
    })
    if(!_.isUndefined(localStorage.getItem('layout'))){
      let layout = JSON.parse(localStorage.getItem('layout'))
      this.updateLayout(layout)
    }
  },
  methods: {
    audioPlaying() {
      let messageWhenPlaying = this.$t('audioPlaying')
      console.log(messageWhenPlaying)
    },
    resizedEvent (i, newH, newW, newHPx, newWPx){
      console.log("RESIZED i=" + i + ", H=" + newH + ", W=" + newW + ", H(px)=" + newHPx + ", W(px)=" + newWPx);
    },
    movedEvent (i, newX, newY){
      console.log("MOVED i=" + i + ", X=" + newX + ", Y=" + newY);
    },
    changeLanguage(){
      this.$i18n.locale === "de" ? this.$i18n.locale = "en" : this.$i18n.locale = "de";
    },
    openSimpleDialog() {
      this.$refs.simpleDialog.open();
    },
    ...mapMutations([
      'clearPlaylist',
      'addJingleToPlaylist',
      'updateLayout',
      'resetLayout'
    ]),
    reset(){
      this.clearPlaylist();
      localStorage.removeItem('playlist');
    },
    savePlaylist(){
      localStorage.setItem('playlist', JSON.stringify(this.playlist));
    },
    saveLayout(){
      localStorage.setItem('layout', JSON.stringify(this.layout));
    },
    resetLayoutAndStorage(){
      this.resetLayout();
      this.saveLayout();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#content {
    width: 100%;
}

.buttons {
  display: flex;
}

.wholeHeight {
  margin: 4px;
  height: calc( 100% - 8px );
}

.vue-grid-layout {
  background: #fff;
}

.columns {
    -moz-columns: 120px;
    -webkit-columns: 120px;
    columns: 120px;
}

.vue-grid-item:not(.vue-grid-placeholder) {
    background: white;
    border: 1px solid #1bbba3;
}

.vue-grid-item.resizing {
    opacity: 0.9;
}

.vue-grid-item.static {
    background: #ccc;
    border: 1px solid #ccc;
}

.vue-draggable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
    background-position: bottom right;
    padding: 0 8px 8px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: pointer;
}

</style>
