<template>
  <div>
    <!-- <div class="remove">
      <Icon icon="times" :title="$t('delete')"></Icon>
    </div> -->
    <div class="button" @click='playSound(item)'>
      <h3>{{ $t(item.id) }}</h3>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
// import Icon from '@abas/elements/src/components/Icon.vue';
import { mapMutations } from 'vuex'


export default {
  name: 'PlayJingle',
  components: {
    // Icon
  },
  props: {
    item: Object,
    items: Array
  },
  computed: {
  },
  methods: {
    playSound: function (item) {
      if(item.id === "random"){
        let randomNumber = _.random(1, this.items.length);
        const audioFile = require(`../assets/${this.items[randomNumber].id}.mp3`);
        this.audio = new window.Audio(audioFile);
        this.audio.id = this.items[randomNumber].id;
        this.audio.play();
        this.$emit('audio-playing', item)
        this.addJingleToPlaylist(this.$t(item.id));
      } else if(this.audio.id === undefined || this.audio.id === ""){
        const audioFile = require(`../assets/${item.id}.mp3`);
        this.audio = new Audio(audioFile);
        this.audio.id = item.id;
        this.audio.play();
        this.$emit('audio-playing', item)
        // this.$store.commit('addJingleToPlaylist', this.$t(item.id));
        this.addJingleToPlaylist(this.$t(item.id));
      } else {
        this.audio.pause();
        this.audio.currentTime = 0;
        this.audio.id = "";
      }
    },
    ...mapMutations([
      'addJingleToPlaylist'
    ])
  },
  data: function(){
    return {
      audio: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

$font-stack: Verdana, Helvetica, sans-serif;

.button {
  font: 100% $font-stack;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}
</style>