<template>
  <div id="app">
    <JingleGrid/>
  </div>
</template>

<script>
import JingleGrid from './components/JingleGrid.vue'

export default {
  name: 'app',
  components: {
    JingleGrid
  }
}
</script>

<style>
</style>
